<ion-view>

  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="go('setting')">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">重置支付密码</span>
  </ion-header-bar>

  <ion-content class="has-header xt-grey-bg" style="overflow-y: hidden;">
    <ul class="passwordSettingList">
      <li ui-sref="resetpassword">我记得原支付密码<i class="icon ion-ios-arrow-right"></i></li>
      <li ng-click="fogetpaypopupopen()" >我忘记支付密码了</span><i class="icon ion-ios-arrow-right"></i></li>
    </ul>

  </ion-content>

</ion-view>
