<ion-view>

  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">素材详情</span>
    <div class="workc_funcbtn" ng-click="goRelateme()"><i class="icon-cps-share icon" style="font-size: 35px"></i></div>
  </ion-header-bar>

  <ion-content class="has-header xt-grey-bg" style="padding-top: 16px;">
    <div class="businessd_addr" style="margin-top: 0px;">
      <div class="businessd_title clearfix">
        <span>文件名称</span>
      </div>
      <div class="businssInforDetail">
        销售人员工作指南.doc
      </div>
    </div>

    <div class="businessd_addr">
      <div class="businessd_title clearfix">
        <span>文件描述</span>
      </div>
      <div class="businssInforDetail">
        中国平安保险股份有限公司于1998年诞生于深圳蛇口，是中国第一家股份制保险企业，至今已发展成为融保险、银行、投资三大主营业务。
      </div>
    </div>

    <div class="queren-btn">
      <button id="setnick" class="btn xt-red-bg"  ng-click="changeOtherNick()">
        查看文件
      </button>
    </div>
  </ion-content>
</ion-view>

