<ion-view>


  <ion-header-bar align-title="middle" >
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">我的客户</span>
  </ion-header-bar>
  <ion-content class="has-header xt-grey-bg">
    <!--下拉刷新-->
    <!--<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>-->
    <ul class="customerManagementBox">
      <li ng-click="yjPop(chatlead2)"  ng-repeat="chatlead2 in chatleadslist2 track by $index" >
        <div class="customerManagementInfor">
          <div class="customerHeaderImg">
            <img src="{{picserver}}{{avate}}" onerror="javascript:this.src='img/default-avatar-square.png'" style="width: 100%;height: 100%"  />
          </div>
          <div class="customerInforBox"><i class="icon icon-xt3-customer-user"></i><span class="setLabelStyle" ng-bind="chatlead2.name"></span><i class="icon icon-xt3-customer-phone"></i><span ng-bind="chatlead2.tel"></span></div>
          <div class="moneyCompanyBox over-ellipsis"><i class="icon icon-uniE9D5"></i>￥<span class="setLabelStyle" ng-bind="chatlead2.pay | number:2"></span><i class="icon icon-xt2-sj"></i><span ng-bind="company"></span></div>
        </div>
        <div class="clearfix customerRemarksBox" ng-if="leads.memo.length>0" >
          <i class="icon icon-xt-tx fl"></i>
          <p class="fr"  ng-bind="leads.memo"></p>
        </div>
      </li>
    </ul>

    <div class="nosearch" ng-if="nonetask" ui-sref="tab.cloudsale">
      <div class="nointenet">
        <img src="img/nocost.png" style="margin: 0px">
        <div class="message-info">
          <span>暂无相关客户</span>
        </div>
      </div>
    </div>
    <!--上拉刷新-->
    <ion-infinite-scroll
      ng-if="hasNextPageLoad"
      on-infinite="loadMore()"
      distance="1%"
      immediate-check="false">
    </ion-infinite-scroll>

  </ion-content>

</ion-view>

<style>
  /*弹窗样式*/
  .popup-container{ bottom: 0; top:0;}
  .popup-container .popup{width: 539px;font-family: "-apple-system", "microsoft yahei";font-size: 25px; border-radius: 20px;}
  .popup-container .popup-title{font-family: "-apple-system", "microsoft yahei";font-size: 27px;padding: 35px;}
  .popup-container .popup-buttons{padding: 0px;}
  .popup-container .popup-buttons .button{font-family: "-apple-system", "microsoft yahei";font-size: 25px; color: #1c8df6; background: none;}
  .popup-container .popup-buttons .button:first-child{border-right: 2px solid #e6e9ed}
  .popup-container .popup-buttons .button.button-positive{color: #007aff}
  .popup-container .popup-buttons .button.button-go{color: #ff3b30}
  .popup-head{border-bottom: 1px solid #e6e9ed}
  .button-go{color: #ff3b30;}
</style>


<script id="getbusmoney3.html" type="text/ng-template">
  <ion-view>
    <ion-header-bar align-title="middle" >
      <div class="header_back" ng-click="closegetbusmoneytaskModal()">
        <i class="icon ion-ios-arrow-left"></i>
      </div>
      <span class="title">申请佣金</span>
    </ion-header-bar>
    <ion-content class="has-header  bgGray" >
      <div class="toparea_head">
        <div class="head_picarea">
          <img src="{{picserver}}{{avate}}" onerror="javascript:this.src='img/default-avatar-square.png'">
        </div>
        <div class="tips">
          <span>向{{company}}申请佣金</span>
        </div>
      </div>
      <div class="inputareas">
        <div class="inputarea clearfix">
          <span class="fl">金额</span>
          <input class="inputit fl" type="number" placeholder="免服务费" ng-model="formdata.pay"/>
        </div>
        <div class="inputarea clearfix" style="border-top: 1px solid #e7e7e7">
          <span class="fl">理由</span>
          <input class="inputit fl" type="text" placeholder="选填" ng-model="formdata.desc"/>
        </div>
      </div>

      <div class="loginBtn" ng-click="subshoukuanyongjing()">确认申请佣金</div>

    </ion-content>


  </ion-view>

</script>
