<ion-view class="industrypage" style="background:#f4f4f4;">
  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">关注领域</span>
  </ion-header-bar>
  <ion-content class="has-header">
        <div class="getInforListContent setTagInfor">
          <span ng-repeat="indust in industrylist" ng-class="{'current':indust.class==1}" ng-click="checkon(indust)">{{indust.name}}</span>
          <!--<span class="current">网络销售</span>-->
        </div>
        <div class="commonBtn" ng-click="setindusties()" >确定</div><!--style="margin-bottom: 100px"-->
    <div class="footerBottmHeight"></div>
  </ion-content>
</ion-view>
