<ion-view>

  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">修改昵称</span>
  </ion-header-bar>

  <ion-content class="find-pasword has-header" style="overflow-y: hidden;" ng-click="closekeyboard()">
    <div class="find-form" ng-click="$event.stopPropagation();">
      <div class="line clearfix">
        <input class="fl" ng-model="user.rnick" ng-change="checkNick()" placeholder="请输入昵称"/>
        <i class="icon-xt2-close fr close" ng-if="showclear" ng-click="clearNick()"></i>
      </div>
    </div>
    <div class="queren-btn">
      <button id="setnick" disabled class="btn xt-red-bg"  ng-click="changeName()">
        保存
      </button>
    </div>
  </ion-content>
</ion-view>
