<ion-view>
  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">账单详情</span>
  </ion-header-bar>
  <ion-content class="has-header bg-grey">
    <div class="accountd_headbg"></div>
    <div class="accountd_headbox">
      <div class="headpic"><img src="{{picserver}}{{impaylog.suserInfo.avate}}" onerror="javascript:this.src='img/default-avatar-square.png'"/></div>
      <div class="name" ng-bind="otherusername"></div>
      <div class="money">
        <i ng-if="impaylog.suserInfo.position==1&&impaylog.impaylog.type==0">+</i>
        <i ng-if="impaylog.suserInfo.position==0&&impaylog.impaylog.type==1">+</i>
        <i ng-if="impaylog.suserInfo.position==1&&impaylog.impaylog.type==1">-</i>
        <i ng-if="impaylog.suserInfo.position==0&&impaylog.impaylog.type==0">-</i>
        <span ng-bind="impaylog.impaylog.money | number:2"></span>元</div>
      <div class="state wait" ng-if="paylogstatus==1">等待对方收款</div>
      <div class="state wait" ng-if="paylogstatus==2">等待对方付款</div>
      <div class="state wait" ng-if="paylogstatus==3">待付款</div>
      <div class="state check" ng-if="paylogstatus==4">已付款</div>
      <div class="state check" ng-if="paylogstatus==5">已收款</div>
      <div class="state redfont" ng-if="paylogstatus==6">已拒绝</div>
      <div class="state redfont" ng-if="paylogstatus==7">付款失效</div>
      <div class="state redfont" ng-if="paylogstatus==8">收款失效</div>
      <div class="state wait" ng-if="paylogstatus==9">待收款</div>
    </div>
    <div class="item-divider"></div>

    <!--收付款-账单详情-->
    <div class="accountd_list2">
      <div class="accountd_list" ng-if="impaylog.impaylog.remark.length>0">
        <div class="accountd_item clearfix">
          <div class="accountd_label fl">备注：</div>
          <div class="accountd_text fl" style="width: 490px;line-height: 40px;padding:20px 18px" ng-bind="impaylog.impaylog.remark"></div>
        </div>
      </div>
      <div class="accound_btn" ng-if="showbtn">
        <button class="redbg button-full mybtn-full" ng-click="showagreepay()">同意</button>
        <button class="button-full mybtn-full" style="margin-top: 20px;background:#999" ng-click="updateIMPayLog('2')">拒绝</button>
      </div>
    </div>


  </ion-content>
  <div class="mask" ng-if="maskshow" style="z-index: 301; top: 0;display: block" ng-click="cancelPopAccount()"></div>
  <!--支付密码-->
  <div class="msg_s_popup paypassword detailpaypwd" ng-show="setpwdPop" style="height: 415px;" ng-style="msgpopupsty">
    <div class="title">
      <span ng-click="cancelPopAccount()" style="font-size: 50px"><i class="ion-ios-close-empty"  style="margin-top: 10px"></i></span>请输入支付密码
    </div>
    <div class="body">
      <div class="label">金额</div>
      <div class="inputbox clearfix">
        <span>￥</span>
        <input type="number" class="moneyInput" id="moneyinputss" value={{showqian}} readonly="true"/>
        <div class="pwd_hint">*第一次输入密码即为支付密码(6位数字)</div>
<!--        <div class="password clearfix">
          <input type="number" maxlength="6" ng-model="pay.passward" ng-change="checkPayMoneyAccount()"/>
          <div ng-repeat="pwd in paylist" ng-bind="pwd.title" class="paypwdround"></div>
        </div>-->
        <div class="password clearfix"><!--
              <input type="number" maxlength="6" ng-model="pay.passward" id="per_moneyinput" ng-change="checkPayMoney()" />
              <div ng-repeat="pwd in paylist" ng-bind="pwd.title" class="paypwdround"></div>-->
          <ul class="paypasgroup">
            <li><i ng-if="pswinfo.length>0" class="icon ion-record"></i> </li>
            <li><i ng-if="pswinfo.length>1" class="icon ion-record"></i> </li>
            <li><i ng-if="pswinfo.length>2" class="icon ion-record"></i> </li>
            <li><i ng-if="pswinfo.length>3" class="icon ion-record"></i> </li>
            <li><i ng-if="pswinfo.length>4" class="icon ion-record"></i> </li>
            <li class="borderright"><i ng-if="pswinfo.length>5" class="icon ion-record"></i> </li>
            <div class="guangbiao" style="transform:translateX({{pswinfo.length*60+'px'}})" ng-show="pswinfo.length<6"></div>

          </ul>
        </div>
        <div class="forgetpwd"><span ng-click="forgetPwdAccount()">忘记密码？</span></div>
      </div>
    </div>
  </div>
  <!--支付键盘-->
  <div class="keyboard-self"  ng-show="setpwdPop">
    <ul class="numlist">
      <li ng-click="enterpsw(1)"><button>1</button></li>
      <li ng-click="enterpsw(2)"><button>2</button></li>
      <li ng-click="enterpsw(3)"><button>3</button></li>
      <li ng-click="enterpsw(4)"><button>4</button></li>
      <li ng-click="enterpsw(5)"><button>5</button></li>
      <li ng-click="enterpsw(6)"><button>6</button></li>
      <li ng-click="enterpsw(7)"><button>7</button></li>
      <li ng-click="enterpsw(8)"><button>8</button></li>
      <li ng-click="enterpsw(9)"><button>9</button></li>
      <li class="bg-grey"></li>
      <li ng-click="enterpsw(0)"><button>0</button></li>
      <li class="bg-grey"  ng-click="enterpsw(11)">
        <button><i class="icon icon-code-del"></i></button>
      </li>
    </ul>
  </div>

  <!--正在支付-支付完成-->
  <div class="loaddingitem" ng-if="showpayload">
    <div class="loade">
      <div class="loader-inner ball-spin-fade-loader" style="display: none;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="loadEnd">
        <i class="icon icon-select-cur"></i>
      </div>
    </div>
    <div class="messages" style="position: absolute; margin: 0px; bottom: 30px;" ng-if="payload"><span>正在付款</span></div>
    <div class="messages" style="position: absolute; margin: 0px; bottom: 30px;" ng-if="paysucc"><span>支付成功</span></div>
  </div>

  <style>
    /*弹窗样式*/
    /*弹窗样式*/
    .popup-container{ bottom: 0; top:0;}
    .popup-container .popup{width: 539px;font-family: "-apple-system", "microsoft yahei";font-size: 25px; border-radius: 20px;}
    .popup-container .popup-title{font-family: "-apple-system", "microsoft yahei";font-size: 27px;padding: 35px;}
    .popup-container .popup-buttons{padding: 0px;}
    .popup-container .popup-buttons .button{font-family: "-apple-system", "microsoft yahei";font-size: 25px; color: #1c8df6; background: none;}
    .popup-container .popup-buttons .button:first-child{border-right: 2px solid #e6e9ed}
    .popup-container .popup-buttons .button.button-positive{color: #007aff}
    .popup-container .popup-buttons .button.button-go{color: #ff3b30}
    .popup-head{border-bottom: 1px solid #e6e9ed}
    .button-go{color: #ff3b30;}
  </style>
</ion-view>
