<ion-view>
  <ion-header-bar align-title="middle" >
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">找回密码</span>
  </ion-header-bar>
  <ion-content class="has-header loginIconContent bgGray">
    <div class="registerProcessList">
      <span>1.输入手机号</span><i>></i>
      <span class="current">2.输入验证码</span><i>></i>
      <span>3.设置密码</span><i>></i>
    </div>
    <div class="messageCode loginForm clearfix">
      <input class="fl" type="tel" placeholder="请输入短信中的验证码" ng-model="user.code" ng-focus="showcodeClear()" ng-blur="hidecodeClear()"  ng-change="codeChange()"/>
      <i class="icon-xt2-close fr close"   ng-if="showcodeclear" ng-click="cleancode()"></i>
    </div>
    <div class="registerTips">没有收到短信？<i class="red" ng-click="sendcode2('1','voice')">点击获取</i>语音验证码！</div>
    <div class="loginBtn" ng-click="checkmesg()">设置密码</div>

  </ion-content>
  <!-- 验证码弹窗 -->
  <div class="vertifyCodeDailog" ng-if="checkpicshow">
    <div class="contentBox">
      <div class="codeInputImg clearfix">
        <input class="codeInput fl" type="text" placeholder="请输入图片验证码" ng-focus='textinputfocus()' ng-blur='textinputblur()' ng-model="user.fscode"/>
        <img src="" id="imgpicurl" class="codeImg fl">
        <i class="icon-xt2-refresh xt-red fl" ng-click="fscodeRefresh()"> </i>
      </div>
      <div class="commonBtn" ng-click="checkpicma('1','voice')">确定</div>
    </div>
  </div>
  <div class="vertifyCodeMask" ng-if="checkpicshow" ng-click="hideTC()"></div>
</ion-view>
