<ion-view>
  <ion-header-bar align-title="middle" >
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">找回密码</span>
  </ion-header-bar>
  <ion-content class="has-header loginIconContent bgGray">
    <div class="registerProcessList">
      <span class="current">1.输入手机号</span><i>></i>
      <span>2.输入验证码</span><i>></i>
      <span>3.设置密码</span><i>></i>
    </div>
    <ul class="loginForm">
      <li>
        <input class="loginInput fl" type="tel" placeholder="请输入您的手机号" ng-model="user.tel" ng-focus="showtelClear()" ng-blur="hidetelClear()" ng-change="telChange()" />
        <i class="icon-xt2-close fr close" ng-if="showtelclear" ng-click="cleantel()"></i>
      </li>

      <!--<div class="line border-bottom">
        <input type="text" class="fl" placeholder="请输入图片验证码" ng-model="user.fscode" ng-change="checkAllInfo('reset')">
        <div class="refresh-btn fr">
          <i class="icon-xt2-refresh xt-red" ng-click="fscodeRefresh('reset')"> </i>
        </div>
        <div class="check-num fr">
          <img id="imgpicurl" src="">
        </div>
      </div>-->
       <!--图片验证码 勿删 后期可能要用到 -->
      <!--<li ng-if="checkpicshow">
      <input class="loginInput fl" type="text" placeholder="请输入图片验证码" ng-model="user.fscode" ng-change="checkAllInfo('reset')"/>
      <div class="refresh-btn fr">
      <i class="icon-xt2-refresh xt-red" ng-click="fscodeRefresh('reset')"> </i>
      </div>
      <div class="check-num fr"><img id="imgpicurl" src=""></div>
      </li>-->

    </ul>
    <!--<div class="verifyBox">-->
      <!--<img src="./img/delete/verifyImg.png" />-->
    <!--</div>-->
    <div class="loginBtn" ng-click="sendcode2('1','sms')">获取验证码</div>
  </ion-content>
  <!--lodding特效-->
  <div class="mask-loadding-all" ng-if="showloading">
    <div class="loader">
      <!--<div class="loader-inner ball-pulse">-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
      <!--</div>-->
      <ion-spinner icon="dots" class="spinner-xtRed"></ion-spinner>
    </div>
  </div>
  <!-- 验证码弹窗 -->
  <div class="vertifyCodeDailog" ng-if="checkpicshow">
    <div class="contentBox">
      <div class="codeInputImg clearfix">
        <input class="codeInput fl" type="text" placeholder="请输入图片验证码" ng-focus='textinputfocus()' ng-blur='textinputblur()' ng-model="user.fscode"/>
        <img src="" id="imgpicurl" class="codeImg fl">
        <i class="icon-xt2-refresh xt-red fl" ng-click="fscodeRefresh()"> </i>
      </div>
      <div class="commonBtn" ng-click="checkpicma('1','sms')">确定</div>
    </div>
  </div>
  <div class="vertifyCodeMask" ng-if="checkpicshow" ng-click="hideTC()"></div>
</ion-view>
