<ion-view>
  <ion-header-bar align-title="middle" >
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title">注册</span>
  </ion-header-bar>

  <ion-content class="has-header loginIconContent bgGray">
      <div class="registerProcessList">
        <span class="current">1.输入手机号</span><i>></i>
        <span>2.输入验证码</span><i>></i>
        <span>3.设置密码</span><i>></i>
      </div>
    <ul class="loginForm">
      <li style="border-bottom: 0 none;">
        <input class="loginInput fl" type="tel" placeholder="请输入您的手机号" ng-model="user.tel" ng-focus="showtelClear()" ng-blur="hidetelClear()" ng-change="telChange()" />
        <i class="icon-xt2-close fr close" ng-if="showtelclear" ng-click="cleantel()"></i>
      </li>
      <!-- 图片验证码 勿删 后期可能要用到 -->
      <!--<li>-->
        <!--<input class="loginInput fl" type="text" placeholder="请输入图片验证码" />-->
        <!--<div class="refresh-btn fr">-->
          <!--<i class="icon-xt2-refresh xt-red"> </i>-->
        <!--</div>-->
        <!--<div class="check-num fr">AAAA</div>-->
      <!--</li>-->
      <!--<li ng-if="checkpicshow">
        <input class="loginInput fl" type="text" placeholder="请输入图片验证码" ng-model="user.fscode" ng-change="checkAllInfo('reset')"/>
        <div class="refresh-btn fr">
          <i class="icon-xt2-refresh xt-red" ng-click="fscodeRefresh('reset')"> </i>
        </div>
        <div class="check-num fr"><img id="imgpicurl" src=""></div>
      </li>-->
    </ul>
    <div class="clearfix aggreeRightSelect">
      <div class="tiaokuan fl" ng-click="changeAggree()" >
        <i class="icon-xt2-check xt-red"  ng-if="showagree"></i>
        <i class="icon-xt2-check xt-grey"  ng-if="!showagree"></i>
        我已阅读并同意
      </div>
      <div class="fl xt-red aggree-tk" ng-click="showTK()">《享推用户服务协议》</div>
    </div>
    <!--<div class="verifyBox">-->
      <!--<img src="./img/delete/verifyImg.png" />-->
    <!--</div>-->
    <div class="loginBtn" ng-if="countdownTask == null && ismobile(user.tel)" ng-click="sendcode2('0','sms')">获取验证码</div>
    <div class="loginBtn disabled" ng-if="countdownTask == null && !ismobile(user.tel)">获取验证码</div>
    <div class="loginBtn disabled" ng-if="countdownTask != null">重获验证码({{countdown}})</div>
  </ion-content>
  <!--lodding特效-->
  <div class="mask-loadding-all" ng-if="showloading">
    <div class="loader">
      <!--<div class="loader-inner ball-pulse">-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
      <!--</div>-->
      <ion-spinner icon="dots" class="spinner-xtRed"></ion-spinner>
    </div>
  </div>
  <!-- 验证码弹窗 -->
  <div class="vertifyCodeDailog" ng-if="checkpicshow">
    <div class="contentBox">
      <div class="codeInputImg clearfix">
        <input class="codeInput fl" type="text" placeholder="请输入图片验证码" ng-focus='textinputfocus()' ng-blur='textinputblur()' ng-model="user.fscode"/>
        <img src="" id="imgpicurl" class="codeImg fl">
        <i class="icon-xt2-refresh xt-red fl" ng-click="fscodeRefresh()"> </i>
      </div>
      <div class="commonBtn" ng-click="checkpicma('0','sms')">确定</div>
    </div>
  </div>
  <div class="vertifyCodeMask" ng-if="checkpicshow" ng-click="hideTC()"></div>

  <script id="fuwuModal.html" type="text/ng-template">

    <ion-modal-view>
    <div class="fuwu" style="width: 100%;height: auto;">
      <div class="top-head">
        <span class="title">  享推用户服务协议</span>
        <div class="right-button  top-right fr " ng-click="hideTK()" style="width: 10%">
          <i class="ion-ios-close-empty font"></i>
        </div>
      </div>
     </div>
      <ion-content class="has-header">
        <div class="fuwutiaokuan" style="position: relative;top: 0px;">
          <div class="agreementTitle">
            <p class="title">享推用户服务协议</p>
            <p class="tips">本协议由上海享推信息技术有限公司和您签订。</p>
          </div>
          <div class="agreementContent">
         <h3><b>一、声明与承诺</b></h3>

            <p>（一） </p>
            <p>在接受本协议或您以本公司允许的其他方式实际使用享推服务之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不要接受本协议，不使用本服务。如果您对本协议的条款有疑问，请通过本公司客服渠道进行询问（客服电话为400-0505-811），本公司将向您解释条款内容。 </p>
            <p>（二） </p>
            <p>您同意，如本公司需要对本协议进行变更或修改，须通过www.xiangtui.me网站或享推APP公告的方式提前予以公布，公告期限届满后即时生效；若您在本协议内容公告变更生效后继续使用享推服务的，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用享推服务；若您不同意变更后的协议内容，您应在变更生效前停止使用享推服务。 </p>
            <p>（三） </p>
            <p>如您为无民事行为能力人或为限制民事行为能力人，例如您未满18周岁，则您应在监护人监护、指导下阅读本协议和使用本服务。若您非自然人，则您确认，在您取得享推账户时，或您以其他本公司允许的方式实际使用享推服务时，您为在中国大陆地区合法设立并开展经营活动或其他业务的法人或其他组织，且您订立并履行本协议不受您所属、所居住或开展经营活动或其他业务的国家或地区法律法规的排斥。不具备前述条件的，您应立即终止注册或停止使用享推服务。 </p>
            <p> （四）</p>
            <p>您在使用享推服务时，应自行判断交易对方是否具有完全民事行为能力并自行决定是否使用享推服务与对方进行交易，且您应自行承担与此相关的所有风险。 </p>
            <p>（五） </p>
            <p>您同意，您在享推上发生的所有交易，您已经不可撤销地授权享推按照其与您之间的协议进行处理；同时，您不可撤销地授权本公司按照享推的指令将争议款项的全部或部分支付给交易一方或双方，同时本公司有权从享推获取您的相关信息（包括但不限于行为信息、账户相关信息等）。本公司按照享推的指令进行资金的止付、扣划完全来自于您的授权，本公司对因此给您造成的任何损失均不承担责任。但您确认，您使用享推服务时，您仍应完全遵守本协议及本公司制定的各项规则及页面提示等。 </p>

            <h3><b>二、定义及解释</b></h3>
            <p>（一） </p>
            <p> 享推账户（或“该账户”）：指您按照本公司允许的方式取得的供您使用享推服务的账户。</p>
            <p>（二） </p>
            <p>本网站：除本协议另有规定外，指www.xiangtui.me及/或APP客户端。 </p>
            <p>（三） </p>
            <p> 享推网站：指支持享推登录名登录的任何网站（包括但不限于享推、享推APP等各种移动客户端应用程序）与本网站，以及后续可能开通的其他网站及其他移动客户端应用程序。前述网站及客户端可单称或并称享推网站。</p>
            <p>（四） </p>
            <p>止付：指享推账户余额为不可用状态，例如被止付的享推账户余额不能用于充值、支付、提现或转账等服务。 </p>
            <p>（五） </p>
            <p>冻结：指国家法律允许的有权机关要求的冻结或依据其他协议进行的保证金冻结等。被冻结余额为不可用状态，被冻结账户不可登录、使用。 </p>
            <p>（六） </p>
            <p>没收：指由于用户发布的相关需求违反了国家法律法规，涉及到了政治等层面的敏感词汇以及涉黄涉毒涉赌等违法信息，享推有权对相关需求的发布用户没收其任务余额，并根据情形进行需求下架以及报警等相关追责，其产生的相关法律责任由发布用户承担。 </p>
            <p>（七） </p>
            <p>享推服务（或“本服务”）：指本协议第三条所描述的服务。 </p>

            <h3><b>三、享推服务</b></h3>
            <p>享推服务（或称“本服务”）是本公司向您提供的移动互联网营销新模式平台服务，是受您委托代您进行营销活动的服务，具体服务项目及内容请见本网站网页以及APP客户端相关协议，包括（但不限于）以下服务： </p>
            <p><b> 1、营销平台服务:</b>营销平台服务是指本公司为您搭建的一个安全、透明、便捷的移动互联网营销新模式平台，竭诚为您提供包括但不限于发布广告、寻找销售、活动策划、任务发布、交易数据监测等服务。</p>
            <p><b>2、代收代付款项服务:</b>代收代付款项服务是指本公司为您提供的代为收取或支付相关款项的服务，其中： </p>
            <p>A.代收，即本公司代为收取任何人向您支付的各类款项。为免疑义，代收具体是指在符合本公司规定或产品规则的情况下，自您委托本公司将您银行卡内的资金充值到您的享推账户或委托本公司代为收取第三方向您支付的款项之时起至根据您的指令将该等款项的全部或部分实际入账到您的银行账户或享推账户之时止（含本条之2项）规定的提现的整个过程（但不包括本条之2项B（a）所述情形）。 </p>
            <p>B.代付, 即本公司将您的款项代为支付给您指定的第三方。为免疑义, 代付具体是指在符合本公司规定或产品规则的情况下: (a)自款项从您的账户(包括但不限于银行账户或其他账户, 但不包括享推账户)转出之时起至委托本公司根据您或有权方给出的指令将上述款项的全部或部分支付给第三方且第三方收到该款项(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程; 或 (b) 自您根据本协议委托本公司将您银行卡的资金充值到您的享推账户或自您因委托本公司代收相关款项到您的享推账户之时起至委托本公司根据您或有权方给出的指令将上述款项的全部或部分支付给第三方(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程。并且您同意, 本公司代付后, 非经法律程序或者非依本协议之约定, 该支付是不可撤销的。 </p>
            <p>本公司提供的上述的代收代付款项服务可以分为以下各类具体服务: </p>
            <p><b>1)充值:</b> 作为代收款项服务的一部分，在符合本公司规定或产品规则的情况下，您委托本公司将您银行卡内的资金充值到您的享推账户。 </p>
            <p><b>2)提现: </b>作为代收款项服务的一部分, 在符合本公司规定或产品规则的情况下，您可以请求本公司将您享推账户余额中的资金提取到您名下的有效中国大陆银行账户内, 该银行账户开户名需与您的姓名或名称一致。除被止付或限制款项外, 本公司将于收到提现指令后的一至五个工作日内, 将相应款项汇入该银行账户。您理解并同意, 根据您提供的账户所属银行不同, 会有到账时间差异。此外, 我们可能会对提现进行风险审查, 因此可能导致提现延迟。您理解并同意您最终收到款项的服务是由您提供的银行账户对应的银行提供的, 您需向该银行请求查证。 </p>
            <p><b>3)享推中介服务:</b>  即本公司接受您的委托向您提供的有关交易的代收或代付款项的中介服务。</p>
            <p> 除本协议另有规定外, 交易双方使用享推中介服务, 即认可收款方按要求完成任务后, 本公司即有权将您已支付的款项代为支付给对方。除本协议另有规定外, 您与交易对方发生交易纠纷时, 您不可撤销地授权本公司自行判断并决定将争议款项的全部或部分支付给交易一方或双方。</p>
            <p><b>4)即时到账服务:</b> 是指交易双方约定交易合同项下的货款通过付款方享推账户即时向收款方享推账户支付的一种支付方式。本公司提示您注意: 该项服务一般适用于您与交易对方彼此都有充分信任的交易。在您与交易对方使用即时到账服务支付款项时, 该款项无需等您确认是否达到任务要求即立刻进入交易对方的享推账户。在使用即时到账服务时, 您理解并接受: </p>
            <p>a) 为控制可能存在的风险, 本公司对所有用户使用即时到账服务支付交易货款时的单日交易总额以及单笔交易最高额进行了限制, 并保留对限制种类和限制限额进行无需预告地调整的权利。 </p>
            <p>b) 使用即时到账服务支付货款是基于您对交易对方的充分信任, 一旦您选用该方式, 您应自行承担所有交易风险并自行处理所有相关的交易及货款纠纷, 本公司不负责处理相关纠纷。 </p>
            <p><b>5)后付服务: </b>指交易双方在交易时通过本服务支付，选择特定服务（以下简称“特定服务”）作为资金渠道的，本公司将根据特定服务的约定提供款项的代收代付服务；该特定服务包括但不限于保证金（或不时调整的其他名称或实质上提供了余额转支付功能的产品）服务。在使用后付服务时，您理解并接受： </p>
            <p>a)该笔交易项下的款项将由收款方在按要求完成任务后由本公司代收代付至其享推账户。若付款方采用特定服务中约定其他款项支付方式的，本公司将依照该约定提供款项代收代付服务。 </p>
            <p>b)如该笔交易发生在享推网站以及享推APP客户端，为保证交易的正常进行，就该笔交易产生的纠纷将按照本协议第一条第（五）款的约定处理。非因该笔交易产生的纠纷或非因享推网站上发生的交易产生的纠纷，您需要联系特定服务的提供方或自行处理。 </p>
            <p><b>3、查询:</b>本公司将对您使用本公司服务的操作的全部或部分进行记录, 不论该操作之目的最终是否实现。您可以登录享推账户查询您享推账户内的操作记录。 </p>
            <p><b>4、其他:</b>您实际使用的本公司接受您的委托为您不时提供的其他服务及本公司提供的其他产品或服务。 </p>
            <h3><b>四、享推账户</b></h3>

            <p> （一）注册相关</p>
            <p>除本协议另有规定或相关产品另有规则外，您须在本网站或者享推APP注册并取得本公司提供给您的享推账户，或在您于其他享推网站或者享推APP完成享推登录名注册，取得享推账户，并且按照本公司要求提供相关信息完成激活后方可使用本服务。您需使用作为享推登录名的本人手机号码，或者本公司允许的其它方式（例如通过扫描二维码、识别生物特征的方式）登录享推账户，并且您应当自行为享推账户设置密码。您同意： </p>
            <p>1、按照享推要求准确提供并在取得该账户后及时更新您正确、最新及完整的身份信息及相关资料。若本公司有合理理由怀疑您提供的身份信息及相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部享推服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何相关资料时，如您不能及时配合提供，本公司有权暂停或终止向您提供部分或全部享推服务。 </p>
            <p>2、您应当准确提供并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本公司与您进行及时、有效联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。您理解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按本公司的要求进行操作。 </p>
            <p>3、您应及时更新资料（包括但不限于身份证、户口本、护照等证件或其他身份证明文件、联系方式、作为享推账户登录名的手机号码、与享推账户绑定的邮箱、手机号码等），否则享推有权将享推登录名、享推账户绑定的邮箱、手机号码开放给其他用户注册或使用。因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、享推账户及该账户内余额被别人盗用，且您不得将此作为取消交易、拒绝付款的理由。 </p>
            <p>4、若您为个人用户, 您确认, 本公司有权在出现下列情形时要求核对您的有效身份证件或其他必要文件, 留存有效身份证件的彩色扫描件, 且完成本公司要求的相关身份认证。您应积极配合，否则本公司有权限制或停止向您提供部分或全部享推服务： </p>
            <p> A.您要求变更身份信息或您身份信息已过有效期的;</p>
            <p>B.本公司认为您的交易行为或交易情况出现异常的; </p>
            <p>C.本公司认为您的身份资料存在疑点或本公司在向您提供服务的过程中认为您已经提供的身份信息或相关资料存在疑点的; </p>
            <p>D.本公司认为应核对或留存您身份证件或其他必要文件的其他情形的。 </p>
            <p>5、您在享推账户中设置的昵称、头像等必须遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则享推有权对您的享推账户采取限制措施，包括但不限于屏蔽、撤销您享推账户的昵称、头像，停止提供部分或全部享推服务。 </p>
            <p>（二）享推网站相关 </p>
            <p>您理解并同意，您在本网站或者享推APP完成享推账户注册程序后，您即取得以您手机号或电子邮箱为内容的享推登录名。您可以通过您的享推登录名直接登录任一享推网站以及享推APP，无需重新注册。为了使您更便捷地使用享推网站与享推APP的服务，您在此明确且不可撤销地授权，您的账户信息在您注册成功时，已授权本公司披露给所有享推网站并授权享推网站使用。</p>
            <p>（三）账户安全 </p>
            <p>您将对使用该账户及密码、校验码进行的一切操作及言论负完全的责任，您同意： </p>
            <p> 1、除相关产品另有规则外，本公司可以通过您的享推登录名和密码或扫描二维码、声波支付、条码支付或识别您的生物特征或者本公司认可的其他方式识别您的身份，您应当对该等享推登录名、密码、校验码、身份识别信息等进行妥善保管，对于因享推登录名、密码、校验码、身份识别信息等泄露所致的损失由您自行承担。您保证不向其他任何人泄露您的享推登录名、密码、校验码以及身份信息等，亦不使用其他任何人的享推登录名、密码、校验码、身份识别信息等。本公司亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备，对于这些产品或设备因非您本人使用或遗失所致的任何损失，由您自行承担。</p>
            <p>2、基于计算机端、手机端以及使用其他电子设备的用户使用习惯，我们可能在您使用具体产品时设置不同的账户登录模式及采取不同的措施识别您的身份。 </p>
            <p>3、您同意，（a）如您发现有他人冒用或盗用您的享推登录名及密码或任何其他未经合法授权之情形，或发生与享推账户关联的手机或其他设备遗失或其他可能危及到享推账户权益安全情形时，应立即以有效方式通知本公司，向本公司申请暂停相关服务。您不可撤销地授权本公司将前述情况同步给享推网站，以保障您的合法权益；及（b）确保您在持续登录任一享推网站或者享推APP时段结束时，以正确步骤离开网站或者享推APP。本公司不能也不会对因您未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及(或)所导致的您的损失不承担任何责任。 </p>
            <p>4、您确认，您应自行对您的享推账户负责，只有您本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法继承。 </p>
            <p>5、您同意，基于运行和交易安全的需要，本公司可以暂时停止提供或者限制本服务部分功能，或提供新的功能，在任何功能减少、增加或者变化时，只要您仍然使用本服务，表示您仍然同意本协议或者变更后的协议。 </p>
            <p> 6、本公司有权了解您使用本公司产品或服务的真实交易背景及目的，您应如实提供本公司所需的真实、全面、准确的信息或资料；如果本公司有合理理由怀疑您提供虚假交易信息的，本公司有权暂时或永久限制您所使用本服务的部分或全部功能。</p>
            <p>7、您同意，本公司有权按照国家法律或和行政法规所赋予权力的有权机关的要求对您的个人信息或对您的享推账户进行查询、冻结或扣划。 </p>
            <p>（四）注销相关 </p>
            <p><b>在需要终止使用本服务时,您可以申请注销您的享推账户,您同意:</b> </p>
            <p> 1、您所申请注销的享推账户应当是您本人的账户。如您需要注销您的享推账户，您应当依照本公司规定的程序进行享推账户注销。</p>
            <p>2、享推账户注销将导致本公司终止为您提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下结果： </p>
            <p>A、任何兑换代码（购物券、礼品券、代金券或优惠券等任何与享推账户相关的兑换代码、卡券等）都将作废；如您不愿将该部分兑换代码或卡券消耗掉或将其作废，则您不能申请注销享推账户。 </p>
            <p>B、任何银行卡将不能适用该账户内的支付或提现服务。 </p>
            <p>C、您仍应对您在注销享推账户前且使用本服务期间的行为承担相应责任，包括但不限于可能产生的违约责任、损害赔偿责任及履约义务，同时本公司仍可保有您的相关信息。 </p>
            <p>3、您可以通过自助或者人工的方式申请注销享推账户，但如果您使用了本公司提供的安全产品，应当在该安全产品环境下申请注销。 </p>
            <p>4、您申请注销的享推账户应当处于正常状态，即您的享推账户的账户信息和用户信息是最新、完整、正确的，且该账户可以使用所有享推服务功能。账户信息或用户信息过时、缺失、不正确的账户或被暂停或终止提供服务的账户不能被申请注销。 </p>
            <p>5、您申请注销的享推账户应当不存在任何由于该账户被注销而导致的未了结的合同关系与其他基于该账户的存在而产生或维持的权利义务，及本公司认为注销该账户会由此产生未了结的权利义务而产生纠纷的情况。您申请注销的享推账户应当没有任何关联的活动、任务、产品等，不存在任何待处理交易，没有任何余额、优惠券等资产，且符合享推页面或网站提示的其他条件和流程。如不符合前述任何情况的，您不能申请注销该账户。 </p>
            <p> 6、如果您申请注销的享推账户一旦注销成功，将不再予以恢复。</p>
            <p> 7、您理解并同意，如（a）您连续12个月未使用您的享推登录名或本公司认可的其他方式登录过本网站或者享推APP，本公司有权注销您名下的全部或部分享推登录名及享推账户，您将不能再通过该登录名登录本网站或使用相关享推账户；如该相关享推账户内有余额，您可按照享推相关流程将其转到您的其他享推账户或同名银行账户；或（b）您在任一享推网站或者享推APP有欺诈、发布虚假活动、侵犯他人合法权益或其他严重违反任一享推网站规则的行为的，本公司有权注销您名下的全部或部分享推登录名，您将不能再登录任一享推网站或者享推APP，所有享推网站的服务将同时终止。本公司有权将您违反前述约定的情形同步给其他享推网站。</p>
            <h3><b>五、享推服务使用规则</b></h3>
            <p> 为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：</p>
            <p> （一）</p>
            <p>一旦您使用本服务，您即不可撤销地授权本公司代理您在您及（或）您指定人符合指定条件或状态时，支付款项给您指定人，或收取其他人支付给您的款项。 </p>
            <p>（二） </p>
            <p>本公司通过以下三种方式接受来自您的指令：A、您在本网站或其他可使用本服务的网站或软件上通过以您的享推登陆名及密码登录享推账户并依照本服务预设流程所修改或确认的交易状态或指令；B、您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具（以下合称该手机）号码向本系统发送的信息（短信 或电话等）回复；C、您通过您注册时作为该账户名称或者与该账户名称绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向本系统发送的信息（如本方式所指有形体或无形体具备与该手机接受信息相同或类似的功能，以下第五条第（三）、（四）项和第六条第（三）项涉及该手机的条款同样适用于本方式）。无论您通过以上何种方式中的任一种向本公司发出指令，都不可撤回或撤销，且成为本公司代理您支付或收取款项或进行其他账户操作的唯一指令，视为您本人的指令，您应当自己对本公司忠实执行上述指令产生的任何结果承担责任。本协议所称绑定，指您的享推账户与本条上述所称有形体或无形体存在对应的关联关系，这种关联关系使得享推服务的某些服务功能得以实现，且这种关联关系有时使得这些有形体或无形体能够作为本系统对您的享推账户的识别和认定依据。 </p>
            <p>您理解并同意，您在本网站或者享推APP完成享推账户注册程序后，您即取得以您手机号或电子邮箱为内容的享推登录名。您可以通过您的享推登录名直接登录任一享推网站，无需重新注册。为了使您更便捷地使用享推网站的服务，您在此明确且不可撤销地授权，您的账户信息在您注册成功时，已授权本公司披露给所有享推并授权享推网站使用。 </p>
            <p>（三） </p>
            <p> 您在使用本服务过程中，本协议内容、网页上出现的关于操作的提示或本公司发送到该手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改本服务的相关规则，而无须征得您的同意，本服务的相关规则应以您使用服务时的页面提示（或发送到该手机的短信或电话或客户端通知等）为准，您同意并遵照本服务的相关规则是您使用本服务的前提。</p>
            <p>（四） </p>
            <p>本公司会以网站公告、电子邮件、发送到该手机的短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，您应及时予以关注。但本公司不保证您能够收到或者及时收到该等通知，且对此不承担任何后果。因您没有及时对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，本公司不负任何责任。 </p>
            <p>（五） </p>
            <p>本公司对您所交易的标的物不提供任何形式的鉴定、证明的服务。除本协议另有规定外，如您与交易对方发生交易纠纷，您不可撤销地授权由本公司根据本协议及本网站上载说明的各项规则进行处理。您为解决纠纷而支出的通讯费、文件复印费、鉴定费等均由您自行承担。因市场因素致使商品涨价跌价而使任何一方得益或者受到损失而产生的纠纷，本公司不予处理。 </p>
            <p>（六） </p>
            <p>您应按照享推的要求完善您的身份信息以最终达到实名，否则您可能会受到收款、提现和（或）支付（包括但不限于余额）的限制，且本公司有权对您的资金进行止付，直至您达到实名。 </p>
            <p>（七） </p>
            <p>针对本公司提供的平台对接信息功能，本公司将严格按照法律法规或有权机关的监管要求进行管理，若用户发布的相关信息需求违反了国家法律法规，涉及到了政治等层面的敏感词汇以及涉黄涉毒涉赌等违法信息，享推有权对相关需求的发布进行需求信息下架等处理，并将视其情节严重与否进行报警等相关追责，其产生的相关法律责任由发布用户承担。 </p>
            <p>（八） </p>
            <p>本公司会将您委托本公司代收或代付的款项，严格按照法律法规或有权机关的监管要求进行管理；除本协议另有规定外，不作任何其他非您指示的用途。 </p>
            <p> （九）</p>
            <p>本公司并非银行或其它金融机构，本协议项下涉及的资金移转均通过银行业金融机构来实现，您接受您的资金在转移转途中产生的合理时间。 </p>
            <p>（十） </p>
            <p>您理解，基于相关法律法规，对本协议项下的任何服务，本公司均不提供任何担保、垫资。 </p>
            <p>（十一） </p>
            <p>您确认并同意，您应自行承担您使用本服务期间由本公司代收或代付的款项在代收代付服务过程中的任何货币贬值、汇率波动及收益损失等风险，您仅在该代收代付款项（不含被冻结、止付或受限制的款项）的金额范围内享有对该等代收代付款项指令支付、提现的权利，您对所有代收代付款项（含被冻结、止付或受限制的款项）产生的任何收益（包括但不限于利息和其他孳息）不享有任何权利。本公司就所有该代收代付款项产生的任何收益（包括但不限利息和其他于孳息）享有所有权。 </p>
            <p>（十二） </p>
            <p>您不得将本服务用于非本公司许可的其他用途。 </p>
            <p>（十三） </p>
            <p>交易风险 </p>
            <p> 1、在使用本服务时，若您或您的交易对方未遵从本协议或相关网站说明、交易、支付页面中之操作提示、规则，则本公司有权拒绝为您与交易对方提供相关服务，且本公司不承担损害赔偿责任。 若发生上述状况，而款项已先行划付至您或他人的享推账户名下，您同意本公司有权直接自相关账户中扣回相应款项及（或）禁止您要求支付此笔款项之权利。此款项若已汇入您的银行账户，您同意本公司有向您事后索回之权利，因您的原因导致本公司事后追索的，您应当承担本公司合理的追索费用。</p>
            <p>2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。 </p>
            <p>3、您使用本服务时同意并认可，可能由于银行本身系统问题、银行相关作业网络连线问题、任何互联网系统问题或网络运营商原因、您的电子邮件系统问题或邮件服务商原因、您的手机通讯系统问题或通讯服务商原因或其他不可抗拒因素，造成本服务无法提供，对此本公司不承担任何责任。 </p>
            <p>服务费用 </p>
            <p>1、在您使用本服务时，本公司有权向您收取服务费用。本公司拥有制订及调整服务费之权利，具体服务费用以您使用本服务时本网站产品页面上所列之收费方式公告或您与本公司达成的其他书面协议为准。 </p>
            <p>2、除非另有说明或约定，您同意本公司有权自您委托本公司代收或代付的款项或您任一享推账户余额或者其他资产中直接扣除上述服务费用。 </p>
            <p>（十五） </p>
            <p>您认可享推账户的使用记录、交易金额数据等均以享推系统记录的数据为准。如您对该等数据存有异议的，应自您账户数据发生变动之日起三日内向本公司提出异议，并提供相关证据供本公司核实，否则视为您认可该数据。 </p>
            <p>（十六） </p>
            <p>如您使用享推代扣服务的，下面任一情况下均会导致扣款不成功，您需要自行承担该风险： </p>
            <p>1、您的指定账户余额不足； </p>
            <p>2、您的指定账户被有权机关采取强制措施，或者已依据其他协议被冻结、止付。 </p>
            <h3><b>六、享推服务使用限制</b></h3>
            <p>为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则： </p>
            <p>（一） </p>
            <p> 您在使用本服务时应遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将本服务用于任何非法目的（包括用于禁止或限制交易物品的交易），也不得以任何非法方式使用本服务。</p>
            <p>（二） </p>
            <p>您不得利用本服务从事侵害他人合法权益之行为，否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司或本公司雇员受损的，您应承担赔偿责任。 </p>
            <p>上述（一）和（二）适用的情况包括但不限于 </p>
            <p>1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。 </p>
            <p> 2、违反法定或约定之保密义务。</p>
            <p>3、冒用他人名义使用本服务。 </p>
            <p>4、从事不法交易行为，如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他本公司认为不得使用本服务进行的交易等。 </p>
            <p>5、提供赌博资讯或以任何方式引诱他人参与赌博。 </p>
            <p>6、非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易。 </p>
            <p>7、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。 </p>
            <p>8、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。 </p>
            <p>9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。 </p>
            <p>10、其他本公司有正当理由认为不适当之行为。 </p>
            <p>（三） </p>
            <p>您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论本公司是否已被告知该等损害赔偿的可能性)： </p>
            <p> 1、本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，对您的名下的全部或部分享推账户暂停、中断或终止向您提供本服务或其任何部分， 并移除您的资料。</p>
            <p> 2、在发现异常交易或合理怀疑交易有疑义或有违反法律规定或本协议约定之时，为维护用户资金安全和合法权益，本公司有权不经通知先行暂停或终止您名下全部或部分享推账户的使用（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等措施），同时可能需要您配合提供包括但不限于身份证、银行卡等资料。如您未及时、完整、准确提供上述资料，本公司有权采取包括但不限于如下限制措施：关闭余额支付功能、限制收款功能、止付账户内余额或停止提供全部或部分享推服务。如涉嫌犯罪，本公司有权移交公安机关处理。</p>
            <p>3、您理解并同意， 存在如下情形时， 本公司有权对您名下享推账户暂停或终止提供全部或部分享推服务，或对资金的全部或部分进行止付， 且有权限制您所使用的产品或服务的部分或全部功能（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等限制措施），并通过站内信或者客户端通知等其他方式通知您， 您应及时予以关注： </p>
            <p> 1）根据本协议的约定；</p>
            <p>2）根据法律法规及法律文书的规定； </p>
            <p> 3）根据有权机关的要求；</p>
            <p>4）您使用享推服务的行为涉嫌违反国家法律法规及行政规定的； </p>
            <p>5）本公司基于单方面合理判断认为账户操作、资金进出等存在异常时； </p>
            <p>6）本公司依据自行合理判断认为可能产生风险的； </p>
            <p>7）您在参加市场活动时有批量注册账户或其他舞弊等违反活动规则、违反诚实信用原则的； </p>
            <p>8）他人向您账户错误汇入资金等导致您可能存在不当得利的； </p>
            <p>9）您遭到他人投诉，且对方已经提供了一定证据的； </p>
            <p>10）您可能错误地将他人享推账户进行了实名的。 </p>
            <p>如您申请恢复服务、解除上述止付或限制，您应按本公司要求如实提供相关资料及您的身份证明以及本公司要求的其他信息或文件，以便本公司进行核实，且本公司有权依照自行判断来决定是否同意您的申请。您应充分理解您的申请并不必然被允许。您拒绝如实提供相关资料及身份证明的，或未通过本公司审核的，则您确认本公司有权长期对该账户停止提供服务，且长期限制该账户或者服务的部分或全部功能。 </p>
            <p>在本公司认为异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30个日历天内解除止付或限制。但本公司有进一步理由相信该异常仍可能对您或其他用户或本公司造成损失的情形除外，包括但不限于： </p>
            <p>1）收到针对该异常的投诉； </p>
            <p>2）您已经实质性违反了本协议或另行签署的协议，且我们基于保护各方利益的需要必须继续止付款项或暂停执行指令； </p>
            <p>3）您虽未违反国家相关法律法规及部门规章规定，但该使用涉及本公司限制合作的行业类品，包括但不限于通过本公司的产品或服务从事类似金字塔或矩阵型的高额返利业务模式。 </p>
            <p>4、在本公司合理认为有必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除您名下全部或部分享推账户及该账户中所有相关资料及档案，并将您滞留在这些账户的全部合法资金退回到您的银行账户。 </p>
            <p>（四） </p>
            <p>您理解并同意，如因您进行与您宣称的交易内容不符的交易，或违反您所在平台对商品类目管理的规定，导致本公司、您所在平台或用户遭受损失的，本公司有权向您追偿并有权随时从您名下的享推账户扣除相应资金以弥补该等损失。且本公司有权对您名下享推账户暂停或终止向您提供部分或全部享推服务，或对您名下资产的部分或全部进行止付。 </p>

            <h3><b>七、隐私权保护</b></h3>
            <p>本公司重视对用户隐私的保护。关于您的身份资料和其他特定资料受到保护与规范。 </p>
            <h3><b>八、系统中断或故障</b></h3>
            <p>本公司系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于： </p>
            <p>（一） </p>
            <p>本公司在本网站公告之系统停机维护期间。 </p>
            <p>（二） </p>
            <p>电信设备出现故障不能进行数据传输的。 </p>
            <p> （三）</p>
            <p>因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。 </p>
            <p>（四） </p>
            <p> 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
            <p>（五） </p>
            <p> 由于业务相关第三方平台故障、接口协议更改、收费标准调整等原因造成大的服务中断或者延迟。</p>
            <h3><b>九、责任范围及责任限制</b></h3>
            <p>（一）</p>
            <p>本公司仅对本协议中列明的责任承担范围负责。</p>
            <p>（二）</p>
            <p>您明确因适用本服务从事的交易所产生的任何风险应由您与交易对方承担。</p>
            <p>（三）</p>
            <p>享推用户信息是由用户本人自行提供的，本公司无法保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</p>
            <p>（四）</p>
            <p>本公司不对交易标的及本服务提供任何形式的保证，包括但不限于以下事项：</p>
            <p>1、本服务符合您的需求。</p>
            <p>2、本服务不受干扰、及时提供或免于出错。</p>
            <p>3、您经由本服务取得的任何产品、服务、资讯或其他资料符合您的期望。</p>
            <p>4、您使用本服务从事的交易及时或最终完成。</p>
            <p>（五）</p>
            <p>本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p>
            <p>（六）</p>
            <p>您经由本服务之使用或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑、手机等设备与系统之任何损坏或资料流失，您应负完全责任。</p>
            <p>（七）</p>
            <p>您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。</p>
            <p>（八）</p>
            <p>在任何情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、商誉损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任</p>
            <p>（九）</p>
            <p>在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。</p>
            <p>（十）</p>
            <p>您充分知晓并同意本公司可能同时为您及您的（交易）对手方提供本服务，您同意对本公司可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张本公司在提供本服务时存在法律上的瑕疵。</p>
            <p>（十一）</p>
            <p>除本协议另有规定或本公司另行同意外，您对本公司的委托及向本公司发出的指令均不可撤销。</p>
            <h3><b>十、完整协议</b></h3>
            <p>本协议由《享推服务协议》条款与本网站不时公示的各项规则组成，相关内容将在本网站以及享推APP进行公示。各项规则有约定，而本协议条款没有约定的，以各项规则约定为准。您对本协议理解和认同，您即对本协议所有组成部分的内容理解并认同，一旦您取得享推账户，或您以其他本公司允许的方式实际使用本服务，您和本公司即受本协议所有组成部分的约束。本协议部分内容被有管辖权的法院认定为违法或无效的，不因此影响其他内容的效力。</p>
          </div>
        </div>
      </ion-content>
</ion-modal-view>
  </script>

</ion-view>
