<ion-view>

  <ion-header-bar align-title="middle">
    <div class="header_back" ng-click="goback()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <span class="title" ng-bind="companyalias" style="width: 350px;"></span>
  </ion-header-bar>

  <ion-content class="has-header xt-grey-bg" style="padding-top: 16px;">

    <div class="businessd_addr">
      <div class="businessd_title clearfix">
        <i class="icon icon-xt2-sj"></i>商家介绍
      </div>
      <div class="businssInforDetail" ng-bind="introduction">
      </div>
    </div>

  </ion-content>
</ion-view>

