@font-face {
  font-family: 'xticon';
  src:    url('../lib/ionic/fonts/xticon.eot?tm73gb');
  src:    url('../lib/ionic/fonts/xticon.eot?tm73gb#iefix') format('embedded-opentype'),
  url('../lib/ionic/fonts/xticon.ttf?tm73gb') format('truetype'),
  url('../lib/ionic/fonts/xticon.woff?tm73gb') format('woff'),
  url('../lib/ionic/fonts/xticon.svg?tm73gb#xticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before {
  content: "\ea95";
}
.icon-zan:before {
  content: "\ea91";
}
.icon-refresh:before {
  content: "\ea92";
}
.icon-redpocket:before {
  content: "\ea93";
}
.icon-center-yhq:before {
  content: "\ea94";
}
.icon-collection-shi:before {
  content: "\ea8f";
}
.icon-collection-kong:before {
  content: "\ea90";
}
.icon-bus-dzdp:before {
  content: "\ea88";
}
.icon-bus-mt:before {
  content: "\ea89";
}
.icon-bus-jd:before {
  content: "\ea8a";
}
.icon-bus-tb:before {
  content: "\ea8b";
}
.icon-bus-tm:before {
  content: "\ea8c";
}
.icon-bus-gf:before {
  content: "\ea8d";
}
.icon-busidenty-businfo:before {
  content: "\ea82";
}
.icon-businfo-savechash:before {
  content: "\ea83";
}
.icon-businfo-speed1:before {
  content: "\ea84";
}
.icon-businfo-speed2:before {
  content: "\ea85";
}
.icon-businfo-speed3:before {
  content: "\ea86";
}
.icon-businfo-platform:before {
  content: "\ea87";
}
.icon-more:before {
  content: "\ea81";
}
.icon-myrecommend:before {
  content: "\ea80";
}
.icon-nearly-follow:before {
  content: "\ea7f";
}
.icon-tab-phonebook:before {
  content: "\ea7d";
}
.icon-follow-business:before {
  content: "\ea7a";
}
.icon-cpv-collection2:before {
  content: "\ea7c";
}
.icon-cpv-share:before {
  content: "\ea7b";
}
.icon-cpv-collection:before {
  content: "\ea7e";
}
.icon-advice:before {
  content: "\ea79";
}
.icon-mycoupon:before {
  content: "\ea75";
}
.icon-myfocus:before {
  content: "\ea76";
}
.icon-myrec:before {
  content: "\ea77";
}
.icon-mypurse:before {
  content: "\ea78";
}
.icon-xts-rectask:before {
  content: "\ea74";
}
.icon-xts-certifi:before {
  content: "\ea73";
}
.icon-xts-ask:before {
  content: "\ea71";
}
.icon-xts-rm:before {
  content: "\ea72";
}
.icon-xtschool-zan1:before {
  content: "\ea6f";
}
.icon-xtschool-zan2:before {
  content: "\ea70";
}
.icon-cps-share0:before {
  content: "\ea6c";
}
.icon-home-scan0:before {
  content: "\ea6d";
}
.icon-home-search0:before {
  content: "\ea6e";
}
.icon-select-right:before {
  content: "\ea6b";
}
.icon-close-date:before {
  content: "\ea69";
}
.icon-effect-area:before {
  content: "\ea6a";
}
.icon-join-user:before {
  content: "\ea68";
}
.icon-acc-bindzfb:before {
  content: "\ea65";
}
.icon-acc-withdraw:before {
  content: "\ea66";
}
.icon-acc-hismoney:before {
  content: "\ea67";
}
.icon-home-task-eye:before {
  content: "\ea64";
}
.icon-xt-backTop:before {
  content: "\ea63";
}
.icon-xtb-pcenter-codelist:before {
  content: "\ea62";
}
.icon-scan-home:before {
  content: "\ea61";
}
.icon-help1:before {
  content: "\ea58";
}
.icon-help6:before {
  content: "\ea59";
}
.icon-help7:before {
  content: "\ea5a";
}
.icon-help5:before {
  content: "\ea5b";
}
.icon-help4:before {
  content: "\ea5c";
}
.icon-help8:before {
  content: "\ea5d";
}
.icon-help2:before {
  content: "\ea5e";
}
.icon-help3:before {
  content: "\ea5f";
}
.icon-help9:before {
  content: "\ea60";
}
.icon-header-add:before {
  content: "\ea4f";
}
.icon-msg-addgroup:before {
  content: "\ea4e";
}
.icon-center-halfstar:before {
  content: "\ea4d";
}
.icon-center-invitecs:before {
  content: "\ea4c";
}
.icon-tab-add:before {
  content: "\ea47";
}
.icon-tab-find:before {
  content: "\ea48";
}
.icon-tab-msg:before {
  content: "\ea49";
}
.icon-tab-home:before {
  content: "\ea4a";
}
.icon-tab-mine:before {
  content: "\ea4b";
}
.icon-publish-save:before {
  content: "\ea43";
}
.icon-publish-edit:before {
  content: "\ea44";
}
.icon-publish-del:before {
  content: "\ea45";
}
.icon-publish-del2:before {
  content: "\ea46";
}
.icon-find-position:before {
  content: "\ea3c";
}
.icon-find-nearbysaller:before {
  content: "\ea3d";
}
.icon-find-workcircle:before {
  content: "\ea3e";
}
.icon-find-wirkc-zan:before {
  content: "\ea3f";
}
.icon-find-workc-more:before {
  content: "\ea40";
}
.icon-find-scan:before {
  content: "\ea41";
}
.icon-workc-comment:before {
  content: "\ea42";
}
.icon-msg-edit:before {
  content: "\ea25";
}
.icon-msg-gack:before {
  content: "\ea26";
}
.icon-msg-call:before {
  content: "\ea27";
}
.icon-msg-position:before {
  content: "\ea28";
}
.icon-msg-code:before {
  content: "\ea29";
}
.icon-msg-startgroupchat:before {
  content: "\ea2a";
}
.icon-msg-failsend:before {
  content: "\ea2b";
}
.icon-msg-group:before {
  content: "\ea2c";
}
.icon-msg-payinfo:before {
  content: "\ea2d";
}
.icon-msg-omg:before {
  content: "\ea2e";
}
.icon-msg-keyboard:before {
  content: "\ea2f";
}
.icon-msg-nottel:before {
  content: "\ea30";
}
.icon-msg-boy:before {
  content: "\ea31";
}
.icon-msg-girl:before {
  content: "\ea32";
}
.icon-msg-groupchat:before {
  content: "\ea33";
}
.icon-msg-scan:before {
  content: "\ea34";
}
.icon-msg-addphoonbook:before {
  content: "\ea35";
}
.icon-nsg-newsaller:before {
  content: "\ea36";
}
.icon-msg-invitesal:before {
  content: "\ea37";
}
.icon-msg-relateme:before {
  content: "\ea38";
}
.icon-msg-voice:before {
  content: "\ea39";
}
.icon-msg-voiceiscall:before {
  content: "\ea3a";
}
.icon-msg-photo:before {
  content: "\ea3b";
}
.icon-code-del:before {
  content: "\ea22";
}
.icon-code-identityyhq:before {
  content: "\ea23";
}
.icon-home-addsaler2:before {
  content: "\ea24";
}
.icon-home-scan:before {
  content: "\ea1d";
}
.icon-home-addsaler:before {
  content: "\ea1e";
}
.icon-home-userneedsknow:before {
  content: "\ea1f";
}
.icon-home-payinfo:before {
  content: "\ea20";
}
.icon-home-systeminfo:before {
  content: "\ea21";
}
.icon-center-savemoney:before {
  content: "\ea0d";
}
.icon-center-fast:before {
  content: "\ea0e";
}
.icon-center-code:before {
  content: "\ea0f";
}
.icon-center-companyidentity:before {
  content: "\ea10";
}
.icon-center-coments:before {
  content: "\ea11";
}
.icon-center-setting:before {
  content: "\ea12";
}
.icon-center-mytask:before {
  content: "\ea13";
}
.icon-center-xtschool:before {
  content: "\ea14";
}
.icon-center-help:before {
  content: "\ea15";
}
.icon-setting-changenum:before {
  content: "\ea16";
}
.icon-setting-aboutus:before {
  content: "\ea17";
}
.icon-setting-changepsw:before {
  content: "\ea18";
}
.icon-setting-comments:before {
  content: "\ea19";
}
.icon-account-pay:before {
  content: "\ea1a";
}
.icon-account-rmb:before {
  content: "\ea1b";
}
.icon-account-tansmoney:before {
  content: "\ea1c";
}
.icon-xtb-back:before {
  content: "\ea0c";
}
.icon-xtb-down:before {
  content: "\ea0a";
}
.icon-xtb-close:before {
  content: "\ea0b";
}
.icon-workC:before {
  content: "\ea09";
}
.icon-xt-pig:before {
  content: "\ea06";
}
.icon-video-play:before {
  content: "\ea05";
}
.icon-xt-good:before {
  content: "\ea07";
}
.icon-xt3-customer-phone:before {
  content: "\e9e0";
}
.icon-center-new:before {
  content: "\e9fb";
}
.icon-indexnew:before {
  content: "\e9fc";
}
.icon-xtschool:before {
  content: "\e9fa";
}
.icon-address:before {
  content: "\e9f9";
}
.icon-relateme:before {
  content: "\e9f7";
}
.icon-share:before {
  content: "\e9f8";
}
.icon-moreinfo:before {
  content: "\e9f0";
}
.icon-picandart:before {
  content: "\e9f1";
}
.icon-cheepsell:before {
  content: "\e9f2";
}
.icon-h5:before {
  content: "\e9f3";
}
.icon-groupbuy:before {
  content: "\e9f4";
}
.icon-supportsell:before {
  content: "\e9f5";
}
.icon-voice-cancel:before {
  content: "\e9ec";
}
.icon-voice-playing:before {
  content: "\e9ed";
}
.icon-voice-keyboard:before {
  content: "\e9ef";
}
.icon-phonebook:before {
  content: "\e9eb";
}
.icon-cps-share:before {
  content: "\e9ea";
}
.icon-noring:before {
  content: "\e9e1";
}
.icon-groupchat:before {
  content: "\e9b3";
}
.icon-groupmember:before {
  content: "\e9db";
}
.icon-xt-shixin:before {
  content: "\e96a";
}
.icon-xt3-help:before {
  content: "\e9e9";
}
.icon-xt-select:before {
  content: "\e9e3";
}
.icon-xt-customer-m:before {
  content: "\e9e4";
}
.icon-xt-change:before {
  content: "\e9e5";
}
.icon-xt-maillist:before {
  content: "\e9e6";
}
.icon-xt-invite:before {
  content: "\e9e7";
}
.icon-xt-invite-business:before {
  content: "\e9e8";
}
.icon-xt3-home-add:before {
  content: "\e9da";
}
.icon-xt3-cs-user:before {
  content: "\e9dc";
}
.icon-xt3-business-home:before {
  content: "\e9dd";
}
.icon-xt3-love:before {
  content: "\e9de";
}
.icon-xt3-customer-user:before {
  content: "\e9df";
}
.icon-uniE:before {
  content: "\e9d8";
}
.icon-uni930:before {
  content: "\e9d9";
}
.icon-uniE9C3:before {
  content: "\e9c3";
}
.icon-uniE9C4:before {
  content: "\e9c4";
}
.icon-uniE9C5:before {
  content: "\e9c5";
}
.icon-uniE9C6:before {
  content: "\e9c6";
}
.icon-uniE9C7:before {
  content: "\e9c7";
}
.icon-uniE9C8:before {
  content: "\e9c8";
}
.icon-uniE9C9:before {
  content: "\e9c9";
}
.icon-uniE9CA:before {
  content: "\e9ca";
}
.icon-uniE9CB:before {
  content: "\e9cb";
}
.icon-uniE9CC:before {
  content: "\e9cc";
}
.icon-uniE9CD:before {
  content: "\e9cd";
}
.icon--:before {
  content: "\e9ce";
}
.icon--2:before {
  content: "\e9cf";
}
.icon--3:before {
  content: "\e9d0";
}
.icon-uniE9D1:before {
  content: "\e9d1";
}
.icon-uniE9D2:before {
  content: "\e9d2";
}
.icon-uniE9D3:before {
  content: "\e9d3";
}
.icon-uniE9D4:before {
  content: "\e9d4";
}
.icon-uniE9D5:before {
  content: "\e9d5";
}
.icon-uniE9D6:before {
  content: "\e9d6";
}
.icon-uniE9D7:before {
  content: "\e9d7";
}
.icon-uniE9C1:before {
  content: "\e9c1";
}
.icon-uniE9C2:before {
  content: "\e9c2";
}
.icon-xt3-cy:before {
  content: "\e9bd";
}
.icon-xt3-speed1:before {
  content: "\e9be";
}
.icon-xt3-cpjs:before {
  content: "\e9bf";
}
.icon-xt3-hdtg:before {
  content: "\e9c0";
}
.icon-xt3-protect:before {
  content: "\e9b5";
}
.icon-xt3-speed:before {
  content: "\e9b6";
}
.icon-xt3-gzq:before {
  content: "\e9b7";
}
.icon-xt3-ptbz:before {
  content: "\e9b8";
}
.icon-xt3-bz:before {
  content: "\e9b9";
}
.icon-xt3-hysj:before {
  content: "\e9ba";
}
.icon-xt3-yxssq:before {
  content: "\e9bb";
}
.icon-uniE9BC:before {
  content: "\e9bc";
}
.icon-xt3-bj:before {
  content: "\e9a1";
}
.icon-xt3-xiaolian:before {
  content: "\e9a2";
}
.icon-xt3-didian:before {
  content: "\e9a3";
}
.icon-xt3-shangwu:before {
  content: "\e9a4";
}
.icon-xt3-renwu:before {
  content: "\e9a5";
}
.icon-xt3-gantanhao:before {
  content: "\e9a6";
}
.icon-xt3-money1:before {
  content: "\e9a7";
}
.icon-xt3-shenglue:before {
  content: "\e9a8";
}
.icon-xt3-jiahao:before {
  content: "\e9a9";
}
.icon-xt3-hua:before {
  content: "\e9aa";
}
.icon-xt3-yuyan:before {
  content: "\e9ab";
}
.icon-xt3-jinbi:before {
  content: "\e9ac";
}
.icon-xt3-money2:before {
  content: "\e9ad";
}
.icon-xt3-job:before {
  content: "\e9ae";
}
.icon-xt3-out:before {
  content: "\e9af";
}
.icon-xt3-wenjianjia:before {
  content: "\e9b0";
}
.icon-xt3-hxz:before {
  content: "\e9b1";
}
.icon-xt3-ren:before {
  content: "\e9b2";
}
.icon-xt3-pic:before {
  content: "\e9b4";
}
.icon-xt3-add:before {
  content: "\e9a0";
}
.icon-xt3-baoxian:before {
  content: "\e994";
}
.icon-xt3-yusan:before {
  content: "\e995";
}
.icon-xt3-leidian:before {
  content: "\e996";
}
.icon-xt3-shopping:before {
  content: "\e997";
}
.icon-xt3-compass:before {
  content: "\e998";
}
.icon-xt3-filepackage:before {
  content: "\e999";
}
.icon-xt3-book:before {
  content: "\e99a";
}
.icon-xt3-house:before {
  content: "\e99b";
}
.icon-xt3-useradd:before {
  content: "\e99c";
}
.icon-xt3-purse:before {
  content: "\e99d";
}
.icon-xt3-books:before {
  content: "\e99e";
}
.icon-xt3-borderture:before {
  content: "\e99f";
}
.icon-xt3-shandian:before {
  content: "\e993";
}
.icon-xt3-sales:before {
  content: "\e990";
}
.icon-xt3-jiaz:before {
  content: "\e991";
}
.icon-xt3-youxi:before {
  content: "\e992";
}
.icon-xt3-lihe:before {
  content: "\e98f";
}
.icon-xt3-money:before {
  content: "\e98e";
}
.icon-xt3-dianshang:before {
  content: "\e97e";
}
.icon-xt3-fangchan:before {
  content: "\e97f";
}
.icon-xt3-hunqing:before {
  content: "\e980";
}
.icon-xt3-jiaoyu:before {
  content: "\e981";
}
.icon-xt3-licai:before {
  content: "\e982";
}
.icon-xt3-lvyou:before {
  content: "\e983";
}
.icon-xt3-meirong:before {
  content: "\e984";
}
.icon-xt3-meishi:before {
  content: "\e985";
}
.icon-xt3-muyin:before {
  content: "\e986";
}
.icon-xt3-pinpai:before {
  content: "\e987";
}
.icon-xt3-chexian:before {
  content: "\e988";
}
.icon-xt3-all:before {
  content: "\e989";
}
.icon-xt3-shenghuo:before {
  content: "\e98a";
}
.icon-xt3-shouyou:before {
  content: "\e98b";
}
.icon-xt3-xinyongka:before {
  content: "\e98c";
}
.icon-xt3-yiliao:before {
  content: "\e98d";
}
.icon-select-cur:before {
  content: "\e97b";
}
.icon-aboutus:before {
  content: "\e97c";
}
.icon-marriage:before {
  content: "\e97d";
}
.icon-position:before {
  content: "\e96c";
}
.icon-erweima:before {
  content: "\e96d";
}
.icon-camera:before {
  content: "\e96e";
}
.icon-sys:before {
  content: "\e96f";
}
.icon-add:before {
  content: "\e970";
}
.icon-txl2:before {
  content: "\e971";
}
.icon-txl:before {
  content: "\e972";
}
.icon-smile:before {
  content: "\e973";
}
.icon-newfriend:before {
  content: "\e974";
}
.icon-invite-friend:before {
  content: "\e975";
}
.icon-pic:before {
  content: "\e976";
}
.icon-uniE977:before {
  content: "\e977";
}
.icon-xt3-huihua:before {
  content: "\e978";
}
.icon-xt3-sj:before {
  content: "\e979";
}
.icon-xt3-yxs:before {
  content: "\e97a";
}
.icon-xt-quit:before {
  content: "\e96b";
}
.icon-xt-my-identity:before {
  content: "\e969";
}
.icon-xt-refresh:before {
  content: "\e926";
}
.icon-xt2-sj:before {
  content: "\e968";
}
.icon-xt2-xyz:before {
  content: "\e967";
}
.icon-xt21-p3-iocn:before {
  content: "\e964";
}
.icon-xt-starhalf:before {
  content: "\e965";
}
.icon-xt-star:before {
  content: "\e966";
}
.icon-xt2-shz:before {
  content: "\e963";
}
.icon-xt2-arrow:before {
  content: "\e962";
}
.icon-xt2-d:before {
  content: "\e961";
}
.icon-xt2-good:before {
  content: "\e960";
}
.icon-xt2-share:before {
  content: "\e959";
}
.icon-QQ:before {
  content: "\e95a";
}
.icon-QQ2:before {
  content: "\e95b";
}
.icon-xt2-friendcircle:before {
  content: "\e95c";
}
.icon-xt2-qiang:before {
  content: "\e95f";
}
.icon-xt2-weixin:before {
  content: "\e95d";
}
.icon-xt2-weibo:before {
  content: "\e95e";
}
.icon-xt2-store-tel:before {
  content: "\e958";
}
.icon-xt-friends:before {
  content: "\e94c";
}
.icon-xt-jindai:before {
  content: "\e94d";
}
.icon-xt2-jinbi2:before {
  content: "\e94e";
}
.icon-xt2-rili:before {
  content: "\e94f";
}
.icon-xt2-zhi:before {
  content: "\e950";
}
.icon-xt-loudou:before {
  content: "\e951";
}
.icon-xt2-ceng:before {
  content: "\e952";
}
.icon-xt2-tixian:before {
  content: "\e953";
}
.icon-xt2-zhuzhi:before {
  content: "\e954";
}
.icon-xt2-didian:before {
  content: "\e955";
}
.icon-xt2-tel:before {
  content: "\e956";
}
.icon-xt2-dizhi2:before {
  content: "\e957";
}
.icon-xt-tx:before {
  content: "\e93f";
}
.icon-xt-fenxiang:before {
  content: "\e94b";
}
.icon-xt2-help:before {
  content: "\e92c";
}
.icon-xt2-location:before {
  content: "\e930";
}
.icon-xt2-goodping:before {
  content: "\e931";
}
.icon-xt2-phone:before {
  content: "\e932";
}
.icon-xt2-zuanshi:before {
  content: "\e933";
}
.icon-xt2-shenfeng:before {
  content: "\e934";
}
.icon-xt2-xiazai:before {
  content: "\e935";
}
.icon-xt2-jisuanqi:before {
  content: "\e936";
}
.icon-xt2-lishishouru:before {
  content: "\e937";
}
.icon-xt2-touxiang:before {
  content: "\e938";
}
.icon-xt2-age:before {
  content: "\e939";
}
.icon-xt2-job:before {
  content: "\e93a";
}
.icon-xt2-diannao:before {
  content: "\e93b";
}
.icon-xt2-shezhi2:before {
  content: "\e93c";
}
.icon-xt2-jinbi:before {
  content: "\e93d";
}
.icon-xt2-xiaolian:before {
  content: "\e93e";
}
.icon-xt2-liaotian:before {
  content: "\e940";
}
.icon-xt2-sex:before {
  content: "\e941";
}
.icon-xt2-password:before {
  content: "\e942";
}
.icon-xt2-xueli:before {
  content: "\e943";
}
.icon-xt2-friend:before {
  content: "\e944";
}
.icon-xt2-task2:before {
  content: "\e945";
}
.icon-xt2-message:before {
  content: "\e946";
}
.icon-xt2-shu:before {
  content: "\e947";
}
.icon-xt2-xiangce:before {
  content: "\e948";
}
.icon-xt2-zhifubao:before {
  content: "\e949";
}
.icon-xt2-yifu:before {
  content: "\e94a";
}
.icon-xt2-user:before {
  content: "\e929";
}
.icon-xt-up:before {
  content: "\e927";
}
.icon-xt2-key:before {
  content: "\e928";
}
.icon-xt2-lock:before {
  content: "\e92a";
}
.icon-xt2-close:before {
  content: "\e92b";
}
.icon-xt2-check:before {
  content: "\e92d";
}
.icon-xt2-refresh:before {
  content: "\e92e";
}
.icon-xt2-down:before {
  content: "\e92f";
}
.icon-xt-yyy2:before {
  content: "\e925";
}
.icon-xt-shezhi:before {
  content: "\e921";
}
.icon-xt-search:before {
  content: "\e922";
}
.icon-xt-message:before {
  content: "\e923";
}
.icon-xt-yyy:before {
  content: "\e924";
}
.icon-xt-0yuansong:before {
  content: "\e91d";
}
.icon-xt-bmm:before {
  content: "\e91e";
}
.icon-xt-meiwen:before {
  content: "\e91f";
}
.icon-xt-youhuiquan:before {
  content: "\e920";
}
.icon-xt-icon-center2:before {
  content: "\e91a";
}
.icon-xt-icon-index2:before {
  content: "\e91b";
}
.icon-xt-icon-mytask2:before {
  content: "\e91c";
}
.icon-xt-song:before {
  content: "\e919";
}
.icon-xt-sex-boy:before {
  content: "\e917";
}
.icon-xt-sex-gril:before {
  content: "\e918";
}
.icon-xt-set-job:before {
  content: "\e915";
}
.icon-xt-friend:before {
  content: "\e916";
}
.icon-xt-center-off:before {
  content: "\e90f";
}
.icon-xt-center-on:before {
  content: "\e910";
}
.icon-xt-home-off:before {
  content: "\e911";
}
.icon-xt-home-on:before {
  content: "\e912";
}
.icon-xt-job-off:before {
  content: "\e913";
}
.icon-xt-job-on:before {
  content: "\e914";
}
.icon-xt-wen2:before {
  content: "\e90e";
}
.icon-xt-hui2:before {
  content: "\e90d";
}
.icon-xt-hui:before {
  content: "\e90b";
}
.icon-xt-wen:before {
  content: "\e90c";
}
.icon-xt-two:before {
  content: "\e908";
}
.icon-xt-three:before {
  content: "\e909";
}
.icon-xt-hot:before {
  content: "\e90a";
}
.icon-xt-cishu:before {
  content: "\e902";
}
.icon-xt-danjia:before {
  content: "\e906";
}
.icon-xt-eye-off:before {
  content: "\e903";
}
.icon-xt-back-top:before {
  content: "\e904";
}
.icon-xt-eye-on:before {
  content: "\e905";
}
.icon-xt-close:before {
  content: "\e907";
}
.icon-xt-lock:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-pic-add:before {
  content: "\e9e2";
}
.icon-voice-tan:before {
  content: "\e9f6";
}
.icon-voice-play:before {
  content: "\e9ee";
}
.icon-load:before {
  content: "\e9fd";
}
.icon-moon-wen:before {
  content: "\e9fe";
}
.icon-moon-hao:before {
  content: "\e9ff";
}
.icon-moon-hua:before {
  content: "\ea00";
}
.icon-moon-ye:before {
  content: "\ea01";
}
.icon-moon-yuan:before {
  content: "\ea02";
}
.icon-moon-yue:before {
  content: "\ea03";
}
.icon-xt-comment:before {
  content: "\ea04";
}
.icon-arrow-up:before {
  content: "\ea08";
}
.icon-tab-share:before {
  content: "\ea50";
}
.icon-tab-sale:before {
  content: "\ea51";
}
.icon-publish-show:before {
  content: "\ea53";
}
.icon-publish-ling:before {
  content: "\ea52";
}
.icon-publish-click:before {
  content: "\ea54";
}
.icon-publish-times:before {
  content: "\ea55";
}
.icon-publish-money:before {
  content: "\ea56";
}
.icon-publish-eye:before {
  content: "\ea57";
}
.icon-businfo-speed0:before {
  content: "\ea8e";
}
